src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="154952f9-2a68-4dbb-a4d9-e2bed9c26897" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllFlights" doc:id="677f09ce-739e-4fdb-83a3-3e2e65477bf2" >
		<db:select doc:name="Select" doc:id="cb85a5e0-8928-479d-958a-484fc2d17a27" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ccdd77e7-9a88-4a1a-809e-9252eccb60cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightById" doc:id="4e23235e-8922-432b-8055-80fef590689c" >
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set flightId" doc:id="e5319611-2286-4647-a013-baac544ae7e6" variableName="flightId"/>
		<db:select doc:name="SelectFlightById" doc:id="e8c5ad59-4670-4a69-89b8-c31a78923f9b" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ID : vars.flightId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="86a89eb5-ad6d-4321-bce3-caeb43518dac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
